<div class="top">
  <h1>Worlder</h1>
  <img src="map.png" alt="トップの画像">
  <a class="login" href='/auth/facebook'>
    <div style="width: 50px; display:inline-block; text-align:center;">
      <i class="fab fa-facebook-f"></i>
    </div>
    Login
  </a>
</div>
