<div class="top">
  <h1>Worlder</h1>
  <img src="map.png" alt="トップの画像">
  <a class="login" href='/auth/facebook'>
    <div class="login-icon">
      <i class="fab fa-facebook"></i>
    </div>
    <div class="login-dec">
      Login
    </div>
  </a>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark footer">
  <div class="footer-box">
    <a href="/rule">利用規約</a>
    <a href="/policy">プライバシーポリシー</a>
  </div>
  </nav>
