@charset "UTF-8";

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.top {
  text-align: center;
  margin-top: 30px;
}

.top h1 {
  font-size: 50px;
}

.top img {
  display: block;
  margin: 30px auto;
  width: 80%;
}

.login {
  display: block;
  text-align: justify;
  width: 200px;
  margin: auto;
  border: solid black 10px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border-radius: 8px;
  background: black;
  color: white;
}

.about-section {
  width: 85%;
  margin: 50px auto;
}

.main-section {
  height: calc(100% - 56px);

}

.sp-none {
  display: none;
}

@media (min-width: 768px){
  .main-section {
    height: 100%;
  }

  .top {
    text-align: center;
    margin-top: 50px;
  }

  .top h1 {
    font-size: 50px;
  }

  .top img {
    display: block;
    margin: 25px auto;
    width: 25%;
  }

  .sp-none {
    display: inline;
  }
}
